.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  padding: 0 16px;
}

.modal_opened {
  visibility: visible;
  opacity:1;
  transition-delay:0s;
}

.modal__container {
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../images/close.svg);
  background-position: center;
  margin-left: auto;
  cursor: pointer;
  opacity: 40%;
  transition: opacity 0.2s ease-in-out;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  line-height: 32px;
  font-size: 32px;
  color: rgba(33, 33, 33, 1);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  color: #212121;
  opacity: 70%;
}

.modal__input {
  width: 100%;
  height: 52px;
  margin-bottom: 32px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  padding: 16px 12px;
  box-sizing: border-box;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
}

.modal__submit-btn {
  padding: 18px auto;
  width: 156px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.modal__submit-btn:hover {
  opacity: 70%;
}

.modal__content--preview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__image--preview {
  position: relative;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  display: block;
  position: relative;
}


.modal__close-btn--preview {
  position: absolute;
  left: 100%; 
  margin-left: 12.5px;
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../images/preview-close.svg);
  background-position: center;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.2s ease-in-out;
}

.modal__close-btn--preview:hover{
  opacity: 40%;
}


.modal__caption--preview {
  display: inline-flex;
  align-self: flex-start;
  color: white;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: rgba(33, 33, 33, 1);
  margin: 8px 0 0;
  padding: 4px 8px;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .modal__container {
    max-width: 300px;
    width: 100%;
    padding: 12px 12px 12px;
  }

  .modal__title {
    margin: 0 0 24px;
    line-height: 20px;
    font-size: 20px;
    padding: 10px 0;
  }

  .modal__input {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 16px;
    height: 48px;
  }

  .modal__input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__content--preview{
    justify-content: flex-start;
  }

  .modal__close-btn--preview{
    position: static;
    align-self: flex-end;
   
  }

  .modal__image--preview{
    border-radius: 4px;
    max-width: 90vw;
  }

  .modal__caption--preview {
    font-size: 16px;
}
}