.card{
  position: relative;
}


.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 0;
}

.card__title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
}

.card__image {
  display: block;
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  background-repeat: no-repeat;
}

.card__like-btn:hover {
  opacity: 1;
  background-repeat: no-repeat;
}

.card__like-btn_liked{
  background-image: url(../images/liked.svg);
  opacity: 100%;
  background-repeat: no-repeat;
}

.card__like-btn_liked:hover{
  background-image: url(../images/liked-hover.svg);
  opacity: 100%;
  background-repeat: no-repeat;
}

.card__delete-btn{
  background-image: url(../images/delete.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 371px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__delete-btn:hover{
  background-image: url(../images/delete_hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 20px;
    max-width: 240px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
    background-size: 20px 18px;
  }

  .card__delete-btn {
    left:246px;
  }
}
